.img-with-shadow {
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  max-height: 100%;

  margin: 0 0 10px 0;
}
@media only screen and (min-width: 768px) {
  .img-with-shadow {
    margin: 0 0 20px 0;
  }
}

.img-cover {
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  max-height: 100%;
  margin: 0;

  position: relative;
  top: -20px;
}
@media only screen and (min-width: 768px) {
  .img-cover {
    position: relative;
    top: -30px;
  }
}
@media only screen and (min-width: 992px) {
  .img-cover {
    position: relative;
    top: -40px;
  }
}
