nav,
header,
footer {
	background-color: #1d1d1d;
	color: #fcfaf4;
	text-align: left;
}

header {
	padding: 0;
	margin-bottom: 32px;
}

footer {
	padding: 0;
	margin-bottom: 32px;
}

.logo {
	height: 25px;
}
.nav-name {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 150%;
}
h1.menu {
	font-size: 1.5rem;
	line-height: 117%;
	color: #fcfaf4;
	font-weight: 900;
}
.nav-text {
	font-family: "Source Serif Pro", "Inter", serif;
	font-weight: 700;
	font-size: 1rem;
	line-height: 150%;
}
.main-page-nav-text {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 150%;
	margin: 20px 0 40px 0;
}

.nav-contacts {
	display: flex;
	justify-content: space-between;
}
.main-page-contacts {
	display: flex;
	justify-content: space-between;
}

a.nav-link:link {
	text-decoration: none;
	color: #fcfaf4;
}

a.nav-link:visited {
	text-decoration: none;
	color: #fcfaf4;
}

a.nav-link:hover {
	text-decoration: none;
	color: #d14e4e;

	transition-property: color;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;
}

a.nav-link:active {
	text-decoration: none;
	color: #e55c5c;
}

div.buttons-wrap {
	margin: 16px 0 32px 0;
}

a.primary-buttton {
	color: #fcfaf4;
	text-decoration: none;
	background-color: #d14e4e;
	border-radius: 8px;
	padding: 12px 16px 12px 16px;
	margin: 0px 0px 8px 0px;
	font-family: "Inter", serif;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 0.07em;
	line-height: 121%;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
}
a.primary-buttton:hover {
	background-color: #e55c5c;
	color: #fcfaf4;
	transition-property: background-color;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;
}

a.secondary-buttton {
	color: #fcfaf4;
	text-decoration: none;
	background-color: #1d1d1d;
	border-color: rgba(252, 250, 244, 0.5);
	border: solid 1px;
	border-radius: 8px;
	padding: 12px 16px 12px 16px;
	margin: 0 0 8px 0;
	font-family: "Inter", serif;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 0.07em;
	line-height: 121%;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
}
a.secondary-buttton:hover {
	background-color: #1d1d1d;
	border-color: #e55c5c;
	color: #fcfaf4;
	transition-property: border-color;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;
}

a.tertiary-buttton {
	text-decoration: none;
	font-family: "Inter", serif;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 121%;
	color: #fcfaf4;
	margin-right: 20px;
	text-align: center;
}
a.tertiary-buttton:hover {
	color: #d14e4e;
	transition-property: border-color;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;
}

a.ancor-arrow {
	text-decoration: none;
	font-family: "Inter", serif;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 0.07em;
	line-height: 121%;
	text-align: center;
	color: #fcfaf4;
}
a.ancor-arrow:hover {
	color: #e55c5c;
	transition-property: color;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;
}

a.menu {
	text-decoration: none;
	color: #fcfaf4;
}
a.menu:hover {
	color: #e55c5c;
	transition-property: color;
	transition-duration: 0.33s;
	transition-timing-function: ease-out;
}

div.menu {
	/*display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0 16px 0;
	background-color: rgba(29, 29, 29, 1);*/

	background-color: rgba(29, 29, 29, 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
div.menu-flex-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 0 12px 0;
}
main {
	padding-top: 48px;
}
/*  --------- md screens --------- */
@media only screen and (min-width: 768px) {
	a.primary-buttton {
		margin: 0px 8px 0px 0px;
		display: inline-block;
		width: auto;
	}
	a.secondary-buttton {
		margin: 0 8px 0 0;
		display: inline-block;
		width: auto;
	}
	div.buttons-wrap {
		margin: 16px 0 64px 0;
	}
	div.menu-flex-wrap {
		padding: 8px 0 8px 0;
	}
	main {
		padding-top: 52px;
	}
}

@media only screen and (min-width: 992px) {
	div.buttons-wrap {
		margin: 48px 0 128px 0;
	}
}

/*  --------- xl screens --------- */
