nav,
header,
footer {
  background-color: black;
  color: white;
  text-align: left;
  font-style: italic;
}

header {
  padding: 15px 0 15px 0;
}

footer {
  padding: 15px 0 15px 0;
  margin-top: 20px;
}

.logo {
  height: 25px;
}
.nav-name {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 150%;
}
.nav-text {
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
}
.main-page-nav-text {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 150%;
  margin: 20px 0 40px 0;
}

.nav-contacts {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.main-page-contacts {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

a.nav-link:link {
  text-decoration: none;
  color: white;
}

a.nav-link:visited {
  text-decoration: none;
  color: white;
}

a.nav-link:hover {
  text-decoration: none;
  color: #c7779f;

  transition-property: color;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}

a.nav-link:active {
  text-decoration: none;
  color: #c7779f;
}

/*  --------- md screens --------- */

/*  --------- xl screens --------- */
