nav,
header,
footer {
  background-color: black;
  color: white;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
}

header {
  padding: 35px 0 38px 0;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 50px 0 55px 0;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    padding: 60px 0 65px 0;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 12px 0;

  margin-top: 50px;
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 25px 0 25px 0;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  footer {
    padding: 37px 0 37px 0;
  }
}

.logo {
  height: 25px;
}
.nav-name {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 150%;
}
.nav-text {
  font-weight: 900;
  font-size: 1rem;
  line-height: 150%;
}
.main-page-nav-text {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 150%;
}

@media only screen and (min-width: 768px) {
  .main-page-nav-text {
    font-size: 2.25rem;
  }
}

.nav-contacts {
  display: flex;
  justify-content: space-around;
}
.main-page-contacts {
  display: flex;
  justify-content: space-between;
}

a.nav-link:link {
  text-decoration: none;
  color: white;
}

a.nav-link:visited {
  text-decoration: none;
  color: white;
}

a.nav-link:hover {
  text-decoration: none;
  color: #c7779f;

  transition-property: color;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}

a.nav-link:active {
  text-decoration: none;
  color: #c7779f;
}
