h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  margin: 0;
}
p {
  font-family: "Lora", Times, serif;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

/* ----------------------------------------- */
h1 {
  font-size: 2.25rem;
  margin: 20px 0 20px 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
p {
  font-size: 1rem;
  margin: 0 0 25px 0;
}
p.before-header {
  font-size: 1rem;
  margin: 0 0 30px 0;
}
p.before-img {
  font-size: 1rem;
  margin: 0 0 25px 0;
}
p.emphasis {
  background-color: #f2e1ea;
  padding: 15px 10px 20px 10px;
  margin: 0 0 25px 0;
}
p.emphasis-with-margin {
  background-color: #f2e1ea;
  margin: 0 0 25px 0;
  padding: 15px 10px 20px 10px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.375rem;
    margin: 30px 0 20px 0;
  }
  h2 {
    font-size: 2.25rem;
    margin: 0 0 10px 0;
  }
  p {
    font-size: 1.5rem;
    margin: 0 0 30px 0;
  }
  p.before-header {
    font-size: 1.5rem;
    margin: 0 0 40px 0;
  }
  p.before-img {
    font-size: 1.5rem;
    margin: 0 0 30px 0;
  }
  p.emphasis {
    padding: 25px 20px 40px 20px;
    margin: 0 0 30px 0;
  }
  p.emphasis-with-margin {
    padding: 25px 20px 40px 20px;
    margin: 0 0 30px 0;
  }
}
@media only screen and (min-width: 992px) {
  p.emphasis-with-margin {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.375rem;
    margin: 60px 0 20px 0;
  }
}

a:link {
  text-decoration: none;
  color: #c80064;
}

a:visited {
  text-decoration: none;
  color: #c80064;
}

a:hover {
  text-decoration: none;
  color: #c7779f;

  transition-property: color;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}

a:active {
  text-decoration: none;
  color: #c7779f;
}
