h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  margin: 0;
}
p {
  font-family: "Lora", Times, serif;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

/* ----------------------------------------- */
h1 {
  font-size: 2.25rem;
  margin: 20px 0 20px 0;
}
h2 {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
p {
  font-size: 1rem;
  margin: 0 0 25px 0;
}
p.before-header {
  font-size: 1rem;
  margin: 0 0 30px 0;
}
p.before-img {
  font-size: 1rem;
  margin: 0 0 25px 0;
}
p.with-top-margin {
  margin: 0 0 25px 0;
}

h1.main-page {
  font-size: 2.25rem;
  margin: 50px 0 20px 0;
}
h2.main-page {
  font-size: 2.25rem;
  margin: 40px 0 20px 0;
}
p.main-page {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}
p.main-page-last {
  margin-top: 10px;
}

a:link {
  text-decoration: underline;
  color: inherit;
}

a:visited {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #c7779f;

  transition-property: color;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}

a:active {
  text-decoration: underline;
  color: #c80064;
}

a.main-page:link {
  text-decoration: none;
  color: inherit;
}
a.main-page:visited {
  text-decoration: none;
  color: inherit;
}
a.main-page:hover {
  text-decoration: none;
  color: #c7779f;

  transition-property: color;
  transition-duration: 0.33s;
  transition-timing-function: ease-out;
}
a.main-page:active {
  text-decoration: none;
  color: #c7779f;
}

/*  --------- md screens --------- */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.375rem;
    margin: 30px 0 20px 0;
  }
  h2 {
    font-size: 2.25rem;
    margin: 0 0 10px 0;
  }
  h1.main-page {
    font-size: 3.375rem;
    margin: 0 0 20px 0;
  }
  h2.main-page {
    font-size: 3.375rem;
    margin: 60px 0 30px 0;
  }
  p.main-page {
    font-size: 2.25rem;
    margin: 0 0 30px 0;
  }
  p.main-page-last {
    margin-top: 30px;
  }

  p {
    font-size: 1.5rem;
    margin: 0 0 30px 0;
  }
  p.before-header {
    font-size: 1.5rem;
    margin: 0 0 40px 0;
  }
  p.before-img {
    font-size: 1.5rem;
    margin: 0 0 30px 0;
  }
  p.with-top-margin {
    margin: 0 0 30px 0;
  }
}

/*  --------- lg screens --------- */

@media only screen and (min-width: 992px) {
  p.with-top-margin {
    margin-top: 60px;
  }
}

/*  --------- xl screens --------- */

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.375rem;
    margin: 60px 0 20px 0;
  }
}
