html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  text-align: left;
  color: #000000;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3.375rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Lora", Times, serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 120%;
}
